* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    position: relative;
    background-color: white;
    height: 500px;
    width: 250px;
    padding-left: 10px;
    border-radius: 20px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}

input[type=text], input[type=password] {
    border: 2px solid #ccc;
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
  }
  
  .imgcontainer {
      position: absolute;
      top: 12%;
      left: 18%;
  }

  .container {
      position: absolute;
      bottom: 10%;
      left: 10%;
  }

  button {
    background-color: #4620cf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;
  }
  
.support {
    float: left;
    height: 500px;
    width: 250px;
    padding-left: 10px;
    border-radius: 20px;
    border: 2px solid black;
}

.main-div {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(247, 246, 250);
    height: 600px;
    width: 1000px;
    margin-top: 60px;
    padding-top: 5%;
    margin-left: 10%;
}


.support {
    background-image: linear-gradient(rgb(68, 42, 212) 50%, white 50%);
    border: 5px solid rgb(14, 0, 0);
    border-top: 10px solid black;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 5px;
    margin-left: 10px;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 5px;
    margin-left: 10px;
}

.support img {
    margin-top: 70px;
    margin-left: 5px;
    border-radius: 50%;
}

#below {
    color: red;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    background-color: blue;
    color: white;
    border-radius: 5px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    margin: 5px;
    align-items: center;
    color: rgb(7, 1, 1); 
}

.meeting {
    background-color: darkred;
    width: 200px;
    height: 25px;
    color: white;
    border-radius: 10px;
}

.pay {
    background-color: darkred;
    width: 200px;
    height: 25px;
    color: white;
    border-radius: 10px;
}

.check {
    background-color: darkred;
    width: 200px;
    height: 25px;
    color: white;
    border-radius: 10px;
}

.google {
    background-color: darkred;
    width: 200px;
    height: 25px;
    color: white;
    border-radius: 10px;
}

.web {
    background-color: darkred;
    width: 200px;
    height: 25px;
    color: white;
    border-radius: 10px;
}

.mainlink {
    background-color: black;
    color: white;
    width: 200px;
    height: 25px;
    border: none;
}


h6 {
    color: black;
    font-size: 20px;
}

.division3 {
    position: relative;
    background-color: white;
    height: 500px;
    width: 250px;
    border-radius: 20px;
    border: 2px solid black;
}

#todo {
    background-color: blue;
    margin: 0;
    padding: 5px 20px;
    color: white;
    border-radius: 20px 20px 0  0px;
}

.division3 ul {
    position: relative;
    padding: 20px;
}

.division3 ul li {
    position: relative;
    list-style-type: none;
    padding: 15px 0;
    border-bottom: 1px solid black;
}

.division3 ul li label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.division3 ul li label input {
    visibility: hidden;
    appearance: none;
}

.division3 ul li label p {
    position: absolute;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

span::before {
    content: '';
    position: absolute;
    top: 5px;
    width: 10px;
    height: 5px;
    border-left: 2px solid blue;
    border-bottom: 2px solid blue;
    transform: rotate(-40deg);
} 

.division3 ul li label input:checked~p {
    text-decoration: line-through;
    color: black;
}

.division3 ul li label input:checked~p {
    background-color: white;
    border: 1px solid white;
}

input:checked~span::before {
    border-left:  2px solid white;
    border-bottom: 2px solid white;
}


